// Main Menu
.modus-nav {
  float: right;
  > li {
    > a {
      text-transform: uppercase;
      color: @navbar-default-link-color;
      border-bottom: 2px solid transparent;
      .border-radius(5px);
      .glyphicon-menu-down {
        .font-size(9px);
        margin-right: 3px;
      }
    }
    > a:hover,
    &.dropdown.open > a,
    &.active > a {
      border-bottom-color: darken(@nav-link-hover-bg, 15%);
      font-weight: 600;
    }
  }
  .search-button {
    background: none;
    color: @btn-primary-color;
    border-bottom: 2px solid transparent;
    &:hover {
      background: @nav-link-hover-bg;
      border-bottom-color: darken(@nav-link-hover-bg, 15%);
    }
  }
}

.search-form {
  .input-group > .form-control {
    width: 200px;
  }
}

// banner slider
.carousel-inner > .item > img {
  width: 100%;
}

.services-panel {
  margin-top: 30px;
  padding: 20px;
  background: @gray-lightest;
  display: table;
  width: 100%;
  border-radius: 5px;
  h3 {
    margin: 0;
  }
  p {
    margin-bottom: 0;
  }
  .services-panel-left,
  .services-panel-right {
    display: table-cell;
    vertical-align: middle;
  }
  .services-panel-right {
    text-align: right;
  }
  p {
    margin: 1em 0 0;
  }
}

.info-panel {
  margin-top: 30px;
  em.glyphicon {
    font-size: 60px;
  }
  .well-lg {
    border: none;
    box-shadow: none;
    min-height: 320px;
    margin: 0;
    border-radius: 5px;
  }
  .info-item {
    .well-lg {
      background: #f8f8f8;
    }
    em {
      color: #70c570;
    }
  }
  .custom-item {
    .well-lg {
      background: #ffffff;
    }
    em {
      color: #dc5925;
    }
  }
  .info-item-title {
    margin-top: 15px;
    + p {
      margin-top: 30px;
    }
  }
  .btn {
    margin-top: -23px;
  }
}

.details-panel-top {
  background: @secondary-bg;
  margin-top: 50px;
  padding: 30px 0;
  p {
    margin-bottom: 80px;
  }
}

// footer
.footer-top, .footer-bottom {
  p, a, li {
    color: #fff;
  }
}


// list-group
.blog-list {
  > li {
    overflow: hidden;
    + li {
      margin-top: 20px;
    }
  }
  .blog-list-thumbnail {
    float: left;
    margin-right: 20px;
    img {
      border-radius: 5px;
    }
  }
  .blog-list-content {
    overflow: hidden;
  }
}
