footer
  .footer-top
    .container
      .row
        .col-sm-4
          a(href="#"): img(alt="Modus Versus", src="images/logo.png")
          p
        .col-sm-2
        .col-sm-2
        .col-sm-4
  .footer-bottom
    .container
