footer
  .container
    .row
      .col-sm-3
        h3 Get in touch
      .col-sm-3
        h3 Twitter
      .col-sm-3
        h3 Popular Posts
      .col-sm-3
        h3 Contact Form
  .container
    p &copy; 2013 Daylite. All Rights Reversed.
