nav.navbar.navbar-inverse
  .container-fluid
    .navbar-header
      +link('Logo', 'index.html').logo
        +img('Day lite', 'images/logo.png')
    ul.social-header
      li
        +link('Social', '#')
          +img('Social', 'images/social-icon.png')
    +nav([{title: 'Home'}, {title: 'Pages'}, {title: 'Journal'}, {title: 'Feature'}, {title: 'Contact'}]).nav.navbar-nav.navbar-right
