extends layouts/layout-bootstrap

block vars
  -title = 'Bootstrap Elements'
  -bodyClass = 'bootstrap-elements'

block container
  .container
    .row.page-header
      .col-sm-6
        h1.text-uppercase Material Design
        p.lead Based on Google Material design
      .col-sm-6
        .well
          p
            em Material Design for Bootstrap
            | &nbsp;is a theme for Bootstrap 3 which lets you use the new&nbsp;
            a(href="javascript:void(0)") Google Material Design
            | &nbsp;in your favorite front-end framework.
          p
            | If you like this project you can support me by donating something on Gittip, starring this repository, or&nbsp;
            a(href="javascript:void(0)") reporting bugs and ideas
            | .
  .container
    .row
      .col-sm-12
        h1.text-uppercase Navbar
        .navbar.navbar-default
          .navbar-header
            a.navbar-brand(href="javascript:void(0)") Brand&nbsp;
              em.glyphicon.glyphicon-tint
          .navbar-collapse.collapse.navbar-responsive-collapse
            ul.nav.navbar-nav
              li.active: a(href="javascript:void(0)") Active
              li: a(href="javascript:void(0)") Link
              li.disabled: a(href="javascript:void(0)") Disabled
              li.dropdown: a(href="javascript:void(0)") Dropdown
            .navbar-form.navbar-left
              input.form-control(type="text", placeholder="Search")
            ul.nav.navbar-nav.navbar-right
              li: a(href="javascript:void(0)") Link
              li.dropdown
                a.dropdown-toggle(href="#", data-toggle="dropdown") Dropdown
                ul.dropdown-menu
                  li: a(href="javascript:void(0)") Action
                  li: a(href="javascript:void(0)") Another Action
                  li: a(href="javascript:void(0)") Something else here
                  li.divider &nbsp;
                  li: a(href="javascript:void(0)") Separated Link
        .navbar.navbar-inverse
          .navbar-header
            a.navbar-brand(href="javascript:void(0)") Brand&nbsp;
              em.glyphicon.glyphicon-tint
          .navbar-collapse.collapse.navbar-responsive-collapse
            ul.nav.navbar-nav
              li.active: a(href="javascript:void(0)") Active
              li: a(href="javascript:void(0)") Link
              li.disabled: a(href="javascript:void(0)") Disabled
              li.dropdown: a(href="javascript:void(0)") Dropdown
            .navbar-form.navbar-left
              input.form-control(type="text", placeholder="Search")
            ul.nav.navbar-nav.navbar-right
              li: a(href="javascript:void(0)") Link
              li.dropdown
                a.dropdown-toggle(href="#", data-toggle="dropdown") Dropdown
                ul.dropdown-menu
                  li: a(href="javascript:void(0)") Action
                  li: a(href="javascript:void(0)") Another Action
                  li: a(href="javascript:void(0)") Something else here
                  li.divider &nbsp;
                  li: a(href="javascript:void(0)") Separated Link
  .container
    h1.text-uppercase Button
    .row
      .col-sm-6
        h3 Default Button
      .col-sm-6
        h3 Block level button


