extends layouts/layout

block vars
  -title = 'Homepage'
  -bodyClass = 'home'
  -menuIndex = 0

block container
  #myCarousel.carousel.slide(data-ride='carousel')
    // Indicators
    ol.carousel-indicators
      li.active(data-target='#myCarousel', data-slide-to='0')
      li(data-target='#myCarousel', data-slide-to='1')
      li(data-target='#myCarousel', data-slide-to='2')
      li(data-target='#myCarousel', data-slide-to='3')
    // Wrapper for slides
    .carousel-inner(role='listbox')
      .item.active
        img(src='images/slider-image-1.jpg', alt='Chania')
      .item
        img(src='images/slider-image-2.jpg', alt='Chania')
      .item
        img(src='images/slider-image-3.jpg', alt='Flower')
      .item
        img(src='images/slider-image-4.jpg', alt='Flower')
    // Left and right controls
    a.left.carousel-control(href='#myCarousel', role='button', data-slide='prev')
      span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
      span.sr-only Previous
    a.right.carousel-control(href='#myCarousel', role='button', data-slide='next')
      span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
      span.sr-only Next
  .container
    .row.panel.services-panel
      .col-sm-8
        h3 Some of our top services
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus aliquet purus id nisl rutrum laoreet. Maecenas nec arcu libero. Quisque eu justo orci.
      .col-sm-4
        button.btn.btn-lg.btn-danger.pull-right.text-uppercase View more
  .container
    .row.services-panel
      .col-sm-3.text-center
        .well.well-lg
          em.glyphicon.glyphicon-thumbs-up
          h5.text-uppercase Some of our top services
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus aliquet purus id nisl rutrum laoreet. Maecenas nec arcu libero. Quisque eu justo orci.
        button.btn.btn-lg.btn-danger.text-uppercase read more
      .col-sm-3.text-center
        .well.well-lg
          em.glyphicon.glyphicon-thumbs-up
          h5.text-uppercase Some of our top services
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus aliquet purus id nisl rutrum laoreet. Maecenas nec arcu libero. Quisque eu justo orci.
        button.btn.btn-lg.btn-success.text-uppercase read more
      .col-sm-3.text-center
        .well.well-lg
          em.glyphicon.glyphicon-thumbs-up
          h5.text-uppercase Some of our top services
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus aliquet purus id nisl rutrum laoreet. Maecenas nec arcu libero. Quisque eu justo orci.
        button.btn.btn-lg.btn-success.text-uppercase read more
      .col-sm-3.text-center
        .well.well-lg
          em.glyphicon.glyphicon-filter
          h5.text-uppercase Some of our top services
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus aliquet purus id nisl rutrum laoreet. Maecenas nec arcu libero. Quisque eu justo orci.
        button.btn.btn-lg.btn-success.text-uppercase read more
  br
  .container.details-panel-top.text-center
    h2.text-uppercase Why modus versus
    p Sed in tristique diam. Vivamus tempor pellentesque elit, ac convallis lacus aliquet sed. Curabitur lacus erat, tempor id tortor sit amet, facilisis tristique felis.
    img(src='http://placehold.it/1170x300.png')
  br
  .container.details-panel-top
    .row.details-panel-content
      .col-sm-3
        h5 Why Choose Us
        - var list1 = ['Quisque eu justo orci', 'Lorem ipsum dolor sit amet', 'Consectetur adipiscing elit', 'Vivamus aliquet purus id nisl', 'Donec non mauris a lorem eleifend', 'mauris facilisis imperdiet luctus']
        ul.list-unstyled
          - for (var i = 0; i < list1.length; i++)
            li
              em.glyphicon.glyphicon-arrow-right
              span!=list1[i]
      .col-sm-6
        p.well Curabitur lacus erat, tempor id tortor sit amet, facilisis tristique felis
          a(href="#") rutrum non lorem
          | fringilla ex finibus magna rutrum auctor.
        .row.text-center
          .col-sm-3
            img(src="http://placehold.it/100x50.png")
            h5 Quisque
          .col-sm-3
            img(src="http://placehold.it/100x50.png")
            h5 Eleifend
          .col-sm-3
            img(src="http://placehold.it/100x50.png")
            h5 Consectetur
          .col-sm-3
            img(src="http://placehold.it/100x50.png")
            h5 Facilisis
      .col-sm-3
        h5 What Client's Say
        p.well
          em Sed in tristique diam. Curabitur lacus erat, Maecenas rutrum non lorem nec pellentesque. Curabitur commodo lorem quis elit gravida, ac ultricies urna viverra.&nbsp;
          | Ut venenatis nibh interdum eleifend ultricies vehicula rutrum nisl.
          em.custom-icon.left-down-arrow
        strong John Doe
