extends layouts/layout

block vars
  -title = 'Homepage'
  -bodyClass = 'home'
  -menuIndex = 0

block container
  #myCarousel.carousel.slide(data-ride='carousel')
    // Indicators
    ol.carousel-indicators
      li.active(data-target='#myCarousel', data-slide-to='0')
      li(data-target='#myCarousel', data-slide-to='1')
      li(data-target='#myCarousel', data-slide-to='2')
      li(data-target='#myCarousel', data-slide-to='3')
    // Wrapper for slides
    .carousel-inner(role='listbox')
      .item.active
        img(src='images/slider-image-1.jpg', alt='Chania')
      .item
        img(src='images/slider-image-2.jpg', alt='Chania')
      .item
        img(src='images/slider-image-3.jpg', alt='Flower')
      .item
        img(src='images/slider-image-4.jpg', alt='Flower')
    // Left and right controls
    a.left.carousel-control(href='#myCarousel', role='button', data-slide='prev')
      span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
      span.sr-only Previous
    a.right.carousel-control(href='#myCarousel', role='button', data-slide='next')
      span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
      span.sr-only Next
  .container
    .row.panel.services-panel
      .col-sm-8
        h3 Some of our top services
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus aliquet purus id nisl rutrum laoreet. Maecenas nec arcu libero. Quisque eu justo orci.
      .col-sm-4
        button.btn.btn-lg.btn-warning.pull-right.text-uppercase View more
  .container
    .row.services-panel
      .col-sm-3.text-center
        h3 Some of our top services
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus aliquet purus id nisl rutrum laoreet. Maecenas nec arcu libero. Quisque eu justo orci.
      .col-sm-3.text-center
        h3 Some of our top services
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus aliquet purus id nisl rutrum laoreet. Maecenas nec arcu libero. Quisque eu justo orci.
      .col-sm-3.text-center
        h3 Some of our top services
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus aliquet purus id nisl rutrum laoreet. Maecenas nec arcu libero. Quisque eu justo orci.
      .col-sm-3.text-center
        h3 Some of our top services
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus aliquet purus id nisl rutrum laoreet. Maecenas nec arcu libero. Quisque eu justo orci.
