extends layouts/layout-bootstrap

block vars
  -title = 'Bootstrap Elements'
  -bodyClass = 'bootstrap-elements'

block container
  br
  br
  br
  .container
    .row
      .col-xs-6
        h2 col-xs-6
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam porttitor tincidunt venenatis. Maecenas non leo magna. Proin nisl mi, facilisis in elit sit amet, feugiat auctor turpis. Mauris at augue nec magna laoreet feugiat a sit amet enim. Mauris condimentum erat a tincidunt iaculis. Cras eget risus fringilla
      .col-xs-6
        h2 col-xs-6
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam porttitor tincidunt venenatis. Maecenas non leo magna. Proin nisl mi, facilisis in elit sit amet, feugiat auctor turpis. Mauris at augue nec magna laoreet feugiat a sit amet enim. Mauris condimentum erat a tincidunt iaculis. Cras eget risus fringilla
  .container
    .row
      .col-sm-6
        h2 col-sm-6
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam porttitor tincidunt venenatis. Maecenas non leo magna. Proin nisl mi, facilisis in elit sit amet, feugiat auctor turpis. Mauris at augue nec magna laoreet feugiat a sit amet enim. Mauris condimentum erat a tincidunt iaculis. Cras eget risus fringilla
      .col-sm-6
        h2 col-sm-6
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam porttitor tincidunt venenatis. Maecenas non leo magna. Proin nisl mi, facilisis in elit sit amet, feugiat auctor turpis. Mauris at augue nec magna laoreet feugiat a sit amet enim. Mauris condimentum erat a tincidunt iaculis. Cras eget risus fringilla
  .container
    .row
      .col-md-6
        h2 col-md-6
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam porttitor tincidunt venenatis. Maecenas non leo magna. Proin nisl mi, facilisis in elit sit amet, feugiat auctor turpis. Mauris at augue nec magna laoreet feugiat a sit amet enim. Mauris condimentum erat a tincidunt iaculis. Cras eget risus fringilla
      .col-md-6
        h2 col-md-6
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam porttitor tincidunt venenatis. Maecenas non leo magna. Proin nisl mi, facilisis in elit sit amet, feugiat auctor turpis. Mauris at augue nec magna laoreet feugiat a sit amet enim. Mauris condimentum erat a tincidunt iaculis. Cras eget risus fringilla
  .container
    .row
      .col-lg-6
        h2 col-lg-6
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam porttitor tincidunt venenatis. Maecenas non leo magna. Proin nisl mi, facilisis in elit sit amet, feugiat auctor turpis. Mauris at augue nec magna laoreet feugiat a sit amet enim. Mauris condimentum erat a tincidunt iaculis. Cras eget risus fringilla
      .col-lg-6
        h2 col-lg-6
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam porttitor tincidunt venenatis. Maecenas non leo magna. Proin nisl mi, facilisis in elit sit amet, feugiat auctor turpis. Mauris at augue nec magna laoreet feugiat a sit amet enim. Mauris condimentum erat a tincidunt iaculis. Cras eget risus fringilla



